mat-card {
  margin-left: 20%;
  margin-right: 20%;
}

textarea {
  width: 85%;
  margin-right: 10%;
}

div {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
}

mat-card-content {
  margin-top: 2em;
}

mat-card {
  text-align: center;
}
